<form id="pictureForm" class="" method="post" action="{{ path('delete-picture', {'id': picture.id}) }}" onsubmit="return confirm('Êtes vous sûr.e de vouloir effacer cette image?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button form="pictureForm" class="picture-delete btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
</form>