body {
  background-color: #f9fafe;
}

@import "~bootstrap/scss/bootstrap";

@import '~font-awesome/scss/font-awesome.scss';


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  width: auto;
  color: #007286;
}

.card-img-trick{
  height: 250px;
}

.img-accueil {
  width: 100%;
}

#logo {
  width: 100px;
  height: 100px;
}

#register-form {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

#edit-img-form {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#connect-form {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

#reset-password-form {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

#edit-video-form {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.new-trick {
  padding-bottom: 5rem;
}
.statistics {
  padding-bottom: 16rem;
}

.user-admin {
  padding-bottom: 5rem;
}


@media screen and (min-width: 640px) {
  .footer {
    display: none; 
  }
  .banner-mobil {
    display:none;
  }
  #seeMedia {
    display: none;
  }
  #editMedia {
    display: none;
  }
  body {
    padding-bottom: 4rem;
}

}

@media screen and (max-width: 639px) {
  .banner {
    display:none;
  }
  header {
    display:none;
  }
  div>a.to-trick-up {
    display: none !important;
  }
  #media-show-trick {
    display: none;
  }
  #showEditMedia {
    display: none;
  }
  .img-show-trick {
    width: 300px;
    height: 200px;
  }
  .fixed-bottom {
    display: none;
  }
}
