{% extends 'admin/home.html.twig' %}

{% block title %}Groupes de tricks
{% endblock %}

{% block gestion %}

	<h2 class="text-center">Groupe de tricks</h2>

	<div class = "table-responsive">
		<table class="table table-striped ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Tricks</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr>
						<td>{{ group.id }}</td>
						<td>{{ group.name }}</td>
						<td>{{ group.tricks | length }}
							<i class="bi bi-clipboard"></i>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no group found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}